.page {
	width: 960px;
	margin: 0 auto;
	background-color: #ffffff;
}

.navbar {
	background-color: #ffffff;
	height: 100px;
}

.navname {
	float: left;
	padding: 20px;
	margin-left: 20px;
}

.navigate {
	font-family: "Tahoma", "Geneva", sans-serif;
	color: #777777;
	margin-left: 670px;
	background-color: #ffffff;
	margin-top: 0;
	padding-top: 90px;
}

h1 {
	font-family: 'Georgia', "Times", "Times New Roman", serif;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 20px;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', "Times", "Times New Roman", serif;
	padding-bottom: 20px;
	border-bottom: 1px solid #777777;
}

.about,
.portfolio,
.contact {
	float: left;
	margin-right: 15px;
	font-size: 18px;
	

.background {
	clear: both;
	width: 960px;
	background-image:;
	margin-bottom: 30px;
}

.leftpanel {
	clear: both;
	float:left;
	width: 650px;
	margin-right: 10px;
	background-color: #ffffff;
	/*border: 1px solid #777777;*/
}

.sidebar {
	/*clear: both;*/
	/*float: left;*/
	width: 270px;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 10px;
}

#bio-image {
	transform: rotate(90deg);
	float: left;
	width: 200px;
	margin-left: 0px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

p {
	font-family: "Tahoma", "Geneva", sans-serif;
	color: #777777;
	line-height: 200%;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}
/* h2 {
	font-family: 'Georgia', "Times", "Times New Roman", serif;
	/*color: #4aaaa5;
	color: blue;
	background-color: #ffffff;
	border-color: #cccccc; 
	/*float: left;*
	padding: 20px;
	margin-bottom: 10px;
	border-bottom: 2px solid #4aaaa5;
}*/

h3 {
	font-family: 'Georgia', "Times", "Times New Roman", serif;
	color: #4aaaa5;
	background-color: #ffffff;
	border-color: #cccccc; 
	float: left;
	padding: 20px;
	margin-bottom: 10px;	
}	


#main-bio {
	float: left;

}

#github,
#linkedin,
#overflow {
	width: 33%;
	float: left;
}

footer {
	/*clear: both;*/
	text-align: center;
	font-size: 12px;
	font-family: "Tahoma", "Geneva", sans-serif;
	background-color: #666666;
	color: #cccccc;
	display: block;
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    border-top: 6px;
    border-height: 10px
    border-color:#4aaaa5;
}

