
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 20px; /* bottom = footer height
    background-color: green; */
}

.page {
	width: 960px;
	margin: 0 auto;
	background-color: #ffffff;
}

.navbar {
	background-color: #ffffff;
	height: 100px;
}

.navname {
	float: left;
	padding: 20px;
	margin-left: 20px;
}

.navigate {
	font-family: "Tahoma", "Geneva", sans-serif;
	color: #777777;
	margin-left: 670px;
	background-color: #ffffff;
	margin-top: 0;
	padding-top: 80px;
}

h1 {
	font-family: 'Georgia', "Times", "Times New Roman", serif;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 20px;
	font-size: 40px;
	font-weight: bold;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', "Times", "Times New Roman", serif;
	padding-bottom: 20px;
	border-bottom: 1px solid #777777;
	font-size: 30px;
	font-weight: bold;
}

.about,
.portfolio,
.contact {
	float: left;
	margin-right: 15px;
	font-size: 18px;
}	

.background {
	clear: both;
	width: 960px;
	margin-bottom: 30px;
}
/*#background img {
	position: absolute; 
  	top: 0; 
  	left: 0; 
  	right: 0; 
  	bottom: 0; 
  	margin: auto; 
  	min-width: 50%;
  	min-height: 50%;
}*/

.leftpanel {
	/*clear: both;*/
	float:left;
	width: 650px;
	margin-right: 10px;
	background-color: #ffffff;
	padding-bottom: 30px;
}

.sidebar {
	/*clear: both;*/
	float: left;
	width: 270px;
	margin-top: 0px;
	margin-left: 20px;
	background-color: #ffffff;
	padding-bottom: 30px;
	padding-right: 10px;
	/*margin-right: 5px;*/
}

#bio-image {
	transform: rotate(90deg);
	float: left;
	width: 200px;
	margin-left: 0px;
	margin-top: 30px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
}

p {
	font-family: "Tahoma", "Geneva", sans-serif;
	color: #777777;
	line-height: 200%;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

h3 {
	font-family: 'Georgia', "Times", "Times New Roman", serif;
	color: #4aaaa5;
	background-color: #ffffff;
	border-color: #cccccc; 
	float: left;
	padding: 20px;
	margin-bottom: 10px;	
}	


#main-bio {
	float: left;
}

#github,
#linkedin,
#overflow {
	width:30%;
	float: left;
	margin-top: 20px;
	margin-right: 5px;
}

#contactme {
	font-family: "Tahoma", "Geneva", sans-serif;
	color: #777777;
	margin-top: 20px;
	font-weight: bold;
}

#contactform {
	font-size: 16px;
}


input {
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#submit {
	background-color: #4aaaa5;
	color: #ffffff;
}

.projects {
	float: left;

}

#projpix {
	float: left;
	/*position: relative;*/
	
}

#hangman,
#rpggame,
#trivia,
#rutgers,
#rockpaper {
	width: 200px;
	height: 200px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    font-size: 12px;
	font-family: "Tahoma", "Geneva", sans-serif;
	text-align: center;
	font-style: italic;
	background-color: #666666;
	color: #cccccc;
	padding: 30px;
	border-top: 6px;
    border-height: 10px
    border-color:#4aaaa5;
}
